{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="title has-text-grey">Thumbnail Gallery</h1>


    <div class="columns is-multiline">


        {% if images|length > 0 %}
            {% for image in images | sort(attribute='filename', reverse=True) %}
            <div class="column is-4">

                <div class="box">
                    <article class="media-heading">
                        <figure class="image">
                            <a href="{{ url_for('static', filename='photos/' + image.filename) }}" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                     src="{{ url_for('static', filename='photos/' + image.filename) }}" alt="">
                            </a>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>{{ image.filename }}</p>
                                <p><a href="#" class="button is-dark" role="button">More info</a></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong>
                There are no photos here.
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}