{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="title has-text-grey">Thumbnail Gallery</h1>


    <div class="columns is-multiline">


        {% if images|length > 0 %}
        {% for image in images | sort(attribute='filename', reverse=True) %}
        <div class="column is-4-desktop is-6-tablet">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <a href="{{ url_for('static', filename='photos/' + image.filename) }}">
                            <img src="{{ url_for('static', filename='photos/' + image.filename) }}" alt="">
                        </a>
                        <div id="photo" class="card-content is-overlay is-clipped">
                            <div class="tags has-addons is-pulled-right">
                            <span class="tag is-info">
                                {{ image.filename }}
                            </span>
                                <a class="tag is-delete is-danger"></a>
                            </div>
                        </div>

                    </figure>
                </div>

                <footer class="card-footer">
                    <form action="{{ url_for('webcam.delete_photo', filename=image.filename) }}" method="post">
                        <input type="submit" value="Delete">
                        <a class="button card-footer-item" role="button" href="#">More info</a>
                    </form>

                </footer>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info" role="alert">
            <strong>Heads up!</strong>
            There are no photos here.
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}