{% extends "base.html" %}

{% block page_content %}
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="title has-text-grey">Register</h3>

            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label class="label">{{ form.username.label }}</label>
                    <div class="control">
                        {{ form.username(class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">{{ form.password.label }}</label>
                    <div class="control">
                        {{ form.password(class='input') }}
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">{{ form.password2.label }}</label>
                    <div class="control">
                        {{ form.password2(class='input') }}
                    </div>
                </div>
                <div class="field is-grouped">
                    {{ form.submit(class='button is-primary') }}
                </div>
            </form>
            <p>New User? <a href="{{ url_for('auth.register') }}">Click to register!</a></p>

        </div>
    </div>
{% endblock %}