<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>

    <title>{% if title %}
        {{ title }}
        {% else %}
        Homecam
        {% endif %}
    </title>
</head>


{% block navbar %}
<nav class="navbar has-shadow has-background-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <strong>HomeCam</strong>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('webcam.photo') }}" class="navbar-item has-text-black-ter">
                    <span class="icon has-text-info"><i class="fas fa-camera"></i></span>
                    <span>Snapshot</span>
                </a>
                <a href="{{ url_for('webcam.show_gallery') }}" class="navbar-item has-text-black-ter">
                    <span class="icon has-text-danger"><i class="fas fa-images"></i></span>
                    <span>Gallery</span>
                </a>

            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login') }}" class="button is-light">
                        <strong>Login</strong>
                    </a>
                    {% else %}
                    <a href="{{ url_for('auth.logout') }}" class="button is-light">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="columns">
            <div class="column is-half">
                <article class="message is-{{ category }}">
                    <div class="message-header">
                        <p>{{ category|capitalize }}</p>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block page_content %} {% endblock %}
    </div>
</div>

{% endblock %}
